html {
  background-color: rgb(247, 240, 228)
}

.container {
  margin: auto 100px auto 100px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

.list1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 500px;
  margin: auto;
}
